# Database Configuration (Neon PostgreSQL)
DATABASE_URL=postgresql://user:password@host/dbname

# Authentication
AUTH_SALT=your-secret-salt-for-password-hashing

# Email Configuration (Zoho Mail - ZeptoMail)
EMAIL_HOST=smtp.zeptomail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=emailapikey
EMAIL_HOST_PASSWORD=wSsVR61y8xGhCasvzTX/c+9sygkDDwj0EUh0jlv16HepFv7BosdvxUCcBQSvTvQeGWZhFDJBprwumh5ThmcGjoglyFlUCCiF9mqRe1U4J3x17qnvhDzIXmxYlBqBKYoPxgVrnmhgF8oh+g==
COMPANY_EMAIL=info@nakelgreen.com.ng
